{% extends "base.html" %}
{% block content %}
    <div class="col-sm-12">
        <h4>Categories</h4>

        {% for category in categories %}
            <div class="col-sm-4 col-md-3 col-xs-6 game-container">
                <a href="{% url 'categories.detail' category_name=category.title  %}">
                <div class="game-grid category">
                    {% with y=forloop.counter|stringformat:"s" %}
                    {% with width="200"|add:y %}
                       <img width="100%" src="//www.placecage.com/200/{{ width }}">
                    {% endwith %}
                    {% endwith %}

                    <div class="game-info category">
                        <p>{{ category.title }}</p>
                        <strong>
                            {{ category.description |truncatechars:25 }}
                        </strong>
                    </div>
                </div>
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock %}
