{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="col-sm-12">
        <h1>My Games</h1>

        {% for game_sale in game_sales %}
            {% with game_sale.game as game %}
                {% include 'gamestore/thumbnail/game.html' with style='main-list' %}
            {% endwith %}
        {% empty %}
            <strong>You have not bought any games yet. Go to <a href="{% url 'games.list' %}">Games</a></strong>
        {% endfor %}


        <!-- Separator -->
        <hr><div class="row"></div>

        {% if profile.is_developer %}
            <h1>My uploads</h1>
            <div class="container">
                <span><a class="btn btn-primary" href="{% url 'games.upload' %}">Upload more</a></span>
                <span><a class="btn btn-success" href="{% url 'games.upload.stat' %}">See statistics</a></span>
            </div>
            <br/>
            {% for game in game_uploads %}
                {% include 'gamestore/thumbnail/game.html' with style='main-list' %}
            {% empty %}
                <strong>You have not uploaded any games yet. Go to <span><a href="{% url 'games.upload' %}">Upload</a></span></strong>
            {% endfor %}
        {% elif profile.can_apply_for_developer %}
            <h4><span><a href="{% url 'profile' user_id=user.id %}">Apply to become a developer</a></span></h4>
        {% endif %}

    </div>
    <br/>
    <br/>
{% endblock %}
