{% comment %}
List of available games.

Displays games
- image
- title
- price

{% endcomment %}
{% load staticfiles %}

{% for game in games %}

    <div class="col-sm-6 col-md-4 game-container">
        <a href="{% url 'games.detail' game_id=game.id  %}">
        <div class="game-grid">

            <!-- game.image -->
            {% if not game.image %}
                <img class="img-responsive" width="100%" src={% static 'images/game_image_default.png' %}>
            {% else %}
                <img class="img-responsive" width="100%" src={{ game.image.url }}>
            {% endif %}

            <!-- Info about the game -->
            <div class="game-info">
                <strong>{{ game.title }}</strong>
                <p>{{ game.price }} €</p>
            </div>
        </div>
        </a>
    </div>

{% empty %}
    <strong>No games found</strong>
{% endfor %}