{% extends "base.html" %}


{% comment %}
This templates is ment to be included in index.html to display a desription of
a game.

Desription should include
- Name
- Image / icon
- Description text
- Buy / Play
- ...

{% endcomment %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block script %}
    <script src="{% static 'js/game.js' %}"></script>{% endblock %}
{% block title %}Game{% endblock %}

{% block content %}

    {% if start_game == True %}
        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8">
            <iframe id="game_container" class="embed-responsive-item" src={{ game.url }} frameborder="0">
            </iframe>
        </div>
    {% else %}
        <div><img src={{ game.image }}></div>
    {% endif %}

    {% if buy %}
        <a class="btn btn-primary" href="{{ game.id }}/buy">Buy</a>
    {% endif %}

    {% if play %}
        <a class="btn btn-primary" href="{{ game.id }}/play">Play</a>
    {% endif %}

    <div id="score"></div>
    <h3>DESCRIPTION OF A GAME : {{ game.title }}</h3>

    <div>
        <p>
            {{ game.publisher.username }}
            {{ game.title }}
            {{ game.price }}
            {# TODO: embed url into the iframe #}
            {{ game.url }}
        </p>
    </div>
{% endblock %}

