{% extends "base.html" %}
{% comment %}
This templates is ment to be included in index.html to display a desription of
a game.
{% endcomment %}

{% load staticfiles %}
{% load bootstrap3 %}
{% block script %}
    <script src="{% static 'js/game.js' %}"></script>{% endblock %}
{% block title %}Game{% endblock %}

{% block content %}

    <div class="row">

    {% if start_game == True %}
        <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8" style="overflow: hidden;">
        <iframe id="game_container" {% if last_saved %} onload="sendState({{ last_saved }})" {% endif %} class="embed-responsive-item" src={{ game.url }} scrolling="no" frameborder="0">
        </iframe>
    {% else %}
        <div class="col-lg-9 col-md-9 col-sm-9">

        <!-- game.image -->
        {% if not game.image %}
            <img class="img-responsive" width="100%" src={% static 'images/game_image_default.png' %}>
        {% else %}
            <img class="img-responsive" width="100%" src={{ game.image.url }}>
        {% endif %}

    {% endif %}
<div id="response">

</div>
<div>
    <br/>
    <div>
        {% if buy %}
            <a class="btn btn-primary" href="buy">Buy</a>
        {% endif %}

        {% if play %}
            <a class="btn btn-primary" href="play">Play</a>
        {% endif %}

        {% if saved %}
            <a class="btn btn-primary" href="get_state">Play saved</a>
        {% endif %}
    </div>
</div>

{% csrf_token %}
{% include "gamestore/game_detail.html" with game=game %}

</div>

{% if scores %}
    <div class="col-lg-3 col-md-3 col-sm-3">
        {% include "gamestore/game_highscores.html" with scores=scores %}
    </div>
{% endif %}
</div>
{% endblock %}

