{% extends "base.html" %}


{% comment %}
This templates is ment to be included in index.html to display a desription of
a game.

Desription should include
- Name
- Image / icon
- Description text
- Buy / Play
- ...

{% endcomment %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block script %}
    <script src="{% static 'js/game.js' %}"></script>{% endblock %}
{% block title %}Game{% endblock %}

{% block content %}


    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8">
        {% if start_game == True %}
            <iframe id="game_container" class="embed-responsive-item" src={{ game.url }} frameborder="0">
            </iframe>
        {% else %}
            <div><img class="img-responsive" src={{ game.image }}></div>
        {% endif %}
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
    </div>
    <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8">
        <div class="btn-group">
            {% if buy %}
                <a class="btn btn-primary" href="buy">Buy</a>
            {% endif %}

            {% if play %}
                <a class="btn btn-primary" href="play">Play</a>
            {% endif %}

            {% if saved %}
                <a class="btn btn-primary" onclick="getState()">Play saved</a>
            {% endif %}
        </div>
        <div id="score"></div>
        {% csrf_token %}
        <h3>DESCRIPTION OF A GAME : {{ game.title }}</h3>

        <div>
            <p>
                {{ game.publisher.username }}
                {{ game.title }}
                {{ game.price }}

                {{ game.description }}
                {# TODO: embed url into the iframe #}
                {{ game.url }}
            </p>
        </div>
        {% if scores %}
            {% include "gamestore/highscores.html" with scores=scores %}
        {% endif %}
    </div>
{% endblock %}

