{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

    <div class="col-sm-12">

        <h4>My Games</h4>

        {% for game_sale in game_sales %}

            <div class="col-sm-6 col-md-4 game-container">
                <a href="{% url 'games.detail' game_id=game_sale.game.id  %}">
                <div class="game-grid bought">

                    <!-- game.image -->
                    {% if not game_sale.game.image %}
                        <img class="img-responsive" width="100%" src={% static 'images/game_image_default.png' %}>
                    {% else %}
                        <img class="img-responsive" width="100%" src={{ game_sale.game.image.url }}>
                    {% endif %}

                    <!-- Info about the game -->
                    <div class="game-info bought">
                        <strong>{{ game_sale.game.title }}</strong>
                        <p>{{ game_sale.game.price }}</p>
                    </div>

                </div>
                </a>
            </div>

        {% empty %}
            <strong>You have not bought any games yet. Go to <a href="{% url 'games.list' %}">Games</a></strong>
        {% endfor %}

        <hr>

        <div class="row"></div>
        {% if profile.is_developer %}
            <h4>My uploads
                <span><a href="{% url 'games.upload' %}">Upload more</a></span>
            </h4>

            {% for game_upload in game_uploads %}
                <div class="col-sm-6 col-md-4 game-container">
                    <a href="{% url 'games.detail' game_id=game_upload.id  %}">
                    <div class="game-grid uploads">

                        <!-- game.image -->
                        {% if not game_upload.game.image %}
                            <img class="img-responsive" width="100%" src={% static 'images/game_image_default.png' %}>
                        {% else %}
                            <img class="img-responsive" width="100%" src={{ game_upload.game.image.url }}>
                        {% endif %}

                        <!-- Info about the game -->
                        <div class="game-info uploads">
                            <p>{{ game_upload.price }}</p>
                            <strong>{{ game_upload.title }}</strong>
                        </div>

                    </div>
                    </a>
                </div>
            {% empty %}
                <strong>You have not uploaded any games yet. Go to <span><a href="{% url 'games.upload' %}">Upload</a></span></strong>
            {% endfor %}
        {% elif profile.can_apply_for_developer %}
            <h4><span><a href="{% url 'profile' %}">Apply to become a developer</a></span></h4>
        {% endif %}

    </div>

{% endblock %}