{% comment %}
{% endcomment %}
<div class="col-lg-8 col-md-8 col-sm-8">
    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Score</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        {% for item in scores %}
            <tr>
                <td>{% if item.player == request.user %}
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                {% endif %}
                </td>
                <td>{{ item.score }}</td>
                <td>{{ item.player.username }}</td>
            </tr>
        {% empty %}
            <tr>auth_user_user_permissions
                <td>July</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
