{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="col s12 m8 offset-m2">
    <div class="card">
        <div class="card-content">
            <h4 class="flow-text">Upload a new game</h4>

            <!-- Form for changing uploading new game -->
            <form method="POST" enctype="multipart/form-data" class="padding">
                {% csrf_token %}
                {% bootstrap_form form layout='inline' %}

                <div class="form-group">
                    <input class="btn btn-default" type="submit" value="Upload"/>
                </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
