# Python requirements file
# ------------------------
# https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
#
# Installing with virtualenv
# --------------------------
# virtualenv -p path_to_python35 ENV
# sourse ENV/bin/activate
# pip install -r requirements.txt
#
# Deactivating the environment
# deactivate


## Project Dependencies
django

