{% load staticfiles %}

<div class="col-sm-6 col-md-4 game-container">
    <div class="thumbnail">
        <div class="game-grid {{ style }}">
            <!-- game.image -->
            {% if not game.image %}
                <img class="img-responsive" width="100%" src={% static 'images/game_image_default.png' %}>
            {% else %}
                <img class="img-responsive" width="100%" src={{ game.image.url }}>
            {% endif %}

            <!-- Info about the game -->
            <div class="caption">
                <h4 class="pull-right">{{ game.price }} €</h4>
                <h4><a href="{% url 'games.detail' game_id=game.id  %}">
                    {{ game.title|title }}
                </a></h4>

                <!-- TODO: links to category -->
                <dl>
                    <dt>Category:</dt>
                    <dd>{{ game.category.title }}</dd>
                    <dt>Publisher:</dt>
                    <dd><a href="{% url 'profile' user_id=game.publisher.id %}">{{ game.publisher.username }}</a></dd>
                </dl>
            </div>
        </div>
    </div>
</div>
