{% extends "base.html" %}
{% load staticfiles %}

{% comment %}
http://bootsnipp.com/snippets/featured/simple-user-profile
{% endcomment %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
            <div class="panel panel-info">

                <!-- Profile -->
                <div class="panel-heading">
                    <!-- Username -->
                    <h3 class="panel-title">{{ user.username }}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">

                        <!-- Profile Picture -->
                        {% if not profile.picture %}
                            <!-- Profile picture is not set. User default picture. -->
                            <div class="col-md-3 col-lg-3 "
                             align="center"><img
                                alt="Profile Picture"
                                src="{% static 'images/profile_default.png' %}"
                                class="img-circle img-responsive">
                            </div>
                        {% else %}
                            <!-- User uploaded profile picture -->
                            <div class="col-md-3 col-lg-3 "
                             align="center"><img
                                alt="Profile Picture"
                                src="{{ profile.picture.url }}"
                                class="img-circle img-responsive">
                            </div>
                        {% endif %}

                        <!-- User Information -->
                        <div class=" col-md-9 col-lg-9 ">
                            <!-- Table of user information -->
                            <table class="table table-user-information">
                                <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td><a href="mailto:info@support.com">{{ user.email }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>{{ profile.gender }}</td>
                                </tr>
                                <tr>
                                    <td>Website</td>
                                    <td>{{ profile.website }}</td>
                                </tr>
                                <tr>
                                    <td>Bio</td>
                                    <td>{{ profile.bio }}</td>
                                </tr>
                                <tr>
                                    <td>Country</td>
                                    <td>{{ profile.country }}</td>
                                </tr>
                                <tr>
                                    <td>City</td>
                                    <td>{{ profile.city }}</td>
                                </tr>
                                <tr>
                                    <td>Organization</td>
                                    <td>{{ profile.organization }}</td>
                                </tr>
                                <tr>
                                    <td>Status</td>
                                    {% if profile.developer_status == '2' %}
                                        <td>Developer</td>
                                    {% elif profile.developer_status == '1' %}
                                        <td>Player. Developer application is pending.</td>
                                    {% else %}
                                        <td>Player</td>
                                    {% endif %}
                                </tr>
                                </tbody>
                            </table>

                        <!-- Buttons. Only for authenticated user for their own profiles. -->
                        <!-- TODO: user.id == profile.user.id -->
                        {% if user.is_authenticated %}
                            <!-- Edit Profile -->
                            <a href="{% url 'profile.edit' %}" class="btn btn-primary">Edit profile</a>

                            <!-- Apply for becoming a developer -->
                            {% if profile.developer_status == '0' %}
                                <a href="{% url 'publisher.apply' %}" class="btn btn-primary">Apply to become a developer</a>
                            {% endif %}
                        {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
