@import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";


/* Sticky footer styles
 https://getbootstrap.com/examples/sticky-footer/
*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

/* Background Image for index page */
//body > .content {
//  @include linear-gradient(#990000, #000000)
//}
